<style>
span.new	{ color:red }
p.mplain	{ color:green }
i		{ font-weight:bold }
</style>

<div style="text-align:justify">

<h1 id="FAQ">Notes, Errata, and Frequently Asked Questions</h1>
<h3>Version 1.0</h3>

<p>This document contains card clarification, errata, rule clarifications, frequently asked questions, and quick reference material.</p>

</div>
